<div class="center">
    <div style="margin-left: auto;"> 
        <a (click)="postToggle(template)">
            <img src="../../../assets/img/plus-button-icon-16.jpg" width="40px" alt="file">
        </a>   
    </div>   
    <div class="form-inline mt-1" style="border-bottom: solid; border-bottom-color: lightgray;margin: 0px;" *ngFor="let file of files">
        <div class="mb-3" style="vertical-align: middle;">
            <img src="../../../assets/img/folder-vector-icon.png" width="45px" alt="file">
        </div>           
        <div class="info ml-3">
            <h5 class="name">
                <a routerLink='/plc-report'>{{file.versionName}}</a>                  
            </h5>
            <p style="font-size: 12px;vertical-align: text-bottom;">{{file.created | date: "MMMM dd, yyyy"}}</p>
        </div>           

        <div style="margin-left: auto;"> 
            <a (click)="removeItem()">
                <img src="../../../assets/img/icons8-delete-bin-24.png" width="20px" alt="file">
            </a>   
        </div>         
    </div>
</div>

<ng-template #template>
    <div class="modal-body">
        <app-plc-version (messageEvent)="receiveMessage($event)"></app-plc-version>
    </div>
</ng-template>
