<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:lightsteelblue;">
  <div class="container">
      <a class="navbar-brand" href="#">ProPharmacy</a>
        <ul class="navbar-nav mr-auto" >
          <ng-container *ngIf="(auth.isAuthenticated$ | async)">
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile">Profile</a>
            </li>
          </ng-container>
          <li class="nav-item">
            <a class="nav-link" routerLink="/errors">Errors</a>
          </li>
        </ul>

        <div class="dropdown" *ngIf="auth.user$ | async as user" dropdown>
          <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.name}}</a>
          <div class="dropdown-menu mt-3" *dropdownMenu>
              <a class="dropdown-item">Profit & Loss Calculator</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
        <form class="d-inline mt-2 mt-md-0">
          <app-login-button *ngIf="(auth.isAuthenticated$ | async) === false"></app-login-button>
        </form>
      </div>
</nav>