.container {
  padding: 22px;
}

.input-row {
  display: flex;
  align-items: center;
}

.sticky-div {
  position: sticky;
  top: 0px;
  padding: 10px 0px;
}

input:disabled {
  /*css declaration to make 
  font-color of disable input
  black*/
  color: black;
}

th {
  white-space: nowrap;
}
